@import '~antd/dist/antd.css';
.pc{
    background: white;
    .logo{
        img{
            width:200px;
            height:61px
        }
       
    }
    .topHeader{
        margin-bottom: 10px;
        box-shadow: 0px 5px 5px rgba(0,0,0,0.4), 0px 5px 5px rgba(0,0,0,0.1) inset; 
        text-decoration: none;
        background: white;
        padding: 0 20px;
        display: flex;
        justify-content:space-between;
        .left{
            font-size: 24px;
            font-weight: bolder;
            color: #264C59;
        }
        .right{
            cursor: pointer;
            display: flex;
            align-items: center;
            span{
                font-size: 16px;
                font-weight: bolder;
                color: #000; 
            }
            i{
                width: 24px;
                height: 24px;
                display: inline-block;
                border-radius: 50%;
                background: #478DA5;
                font-size:14px;
                color: white;
                font-weight: bolder;
                line-height: 24px;
                text-align: center;
                margin-right: 10px;
                font-style:normal
            }
        }
    }
    .addLtd{
        user-select:none;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        padding: 0 10px;
        font-size: 14px;
        color: #BDBDBD;
        span{
            margin-right:5px;
        }
    }
    .ant-layout-sider{
        background: white;
    }
    .identity{
        margin: 0 10px;
        height: 40px;
        line-height: 40px;
        width: 180px;
        display: flex;
        align-items: center;
        img{
            width: 24px;
            height: 24px;
        }
        span{
            margin-left:20px;
            font-size: 16px;
            color: #264C59;
            font-weight: 400;
        }
    }
    .ant-layout-sider-trigger{
        background:#D2E4DA!important
    }
    
    .ant-menu-item, .ant-menu-submenu-title{
        padding: 0px;
    }
    .ant-menu-item.ant-menu-item-only-child{
        padding: 0px!important;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background: #E8E8E8;
    }
    .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after{
        border-right: 3px solid #E8E8E8;
    }
    .ant-layout-sider-children{
        border-right:1px solid #f0f0f0;
    }
    .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
        border-right: 0px ;
    }
}